	
<div style="display: grid; grid-template-columns: 1fr 1fr;">
	<div style="margin-left: 200px">
		<h1>{{ site.texture.title }}</h1>
		<h2>{{ site.texture.tagline }}</h2>
	</div>
	<div>
		<ul class="social">
			{%- if site.texture.social_links.github -%}
				<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.linkedIn -%}
				<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.twitter -%}
				<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			{%- endif -%}
		</ul>
	</div>
</div>	
	
