	
<div style="display: grid; grid-template-columns: 1fr 1fr;">
	<div style="margin-left: 150px">
		<h1>{{ site.texture.title }}</h1>
		<h2>{{ site.texture.tagline }}</h2>
	</div>
	<div style="margin-left: 500px">
		<img src="xingjunma.png" alt="Dr. Xingjun Ma" width="100" height="100" style="border-radius: 50%;">
        	<p><b>Dr. Xingjun Ma</b></p>
		<ul class="social">
			{%- if site.texture.social_links.github -%}
				<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.google -%}
				<a href="{{ site.texture.social_links.google }}"><li><i class="fa fa-google"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.e-mail -%}
				<a href="{{ site.texture.social_links.e-mail }}"><li><i class="fa fa-envelope"></i></li></a>
			{%- endif -%}
		</ul>
	</div>
</div>	
	
