<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}
	</header>
	<main>
		<div class="container">
			{{ content }}
		</div>
		<div class="sidebar">
	                <div class="profile">
	                    <img src="/path/to/your/image.jpg" alt="个人照片" class="profile-image">
	                    <p class="profile-description">你好，我是 [你的名字]，这是一段关于我的简介。</p>
	                </div>
	        </div>
	</main>
	{%- include footer.html -%}
</body>
</html>
